:root {
  --foreground: #F8F9FA;
  --background: #343A40;
  --border: #D90429;
}

* {
  margin: 0;
  box-sizing: border-box;
}


html,
body {
  background-color: var(--background);
  color: var(--foreground);
}