.main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 11vh);
}

.drawer .cards {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  line-height: 2.6;
  min-height: 5vh;

  border-bottom: 2px solid #323232;
}

.info {
  display: flex;
}

.user {
  display: flex;
  border: 3px solid var(--border);
  border-radius: 15px;

  color: var(--foreground);
}

.menu {
  display: flex;
  gap: 5px;
}

.menu .button {
  width: 75px;

  font-size: 1.3pc;

  background-color: var(--button-bg);
  color: var(--button-fg);

  border-radius: 15px;

  border: 1px double #d9042793;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .button:hover {
  background-color: var(--button-fg);
  color: var(--button-bg);

  transition: background 500ms;
}

.logo {
  display: flex;
  gap: 10px;

  color: var(--foreground);
}

.logo h1 {
  letter-spacing: 4px;
}

.footer {
  min-height: 5vh;
  width: 100vw;
  background-color: white;
}

.title {
  color: var(--foreground);
  border-bottom: 4px double #EDF2F4;
}